body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, orange, red);
}
input{
    height: 30px;
    width: 300px;
    border: #fff
}
button{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: #fff;
}
button:hover{
    background-color: rgba(#fff,0,0,0.6);
}
