body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    /* font-size: 1em; */
    margin: 0;
    padding: 0;
    background-color: #000;
}
p{
    font-style: italic;
}
input{
    height: 30px;
    width: 300px;
    border:#000
}
button{
    height: 35px;
    width: 150px;
    border-radius: 100px;
    background-color: #fff;
    border: rgba(#000,0,0,0.6);
    padding: 0;
    margin: 0;
}
button:hover{
    background-color: rgba(#000,0,0,0.6);
}
marquee{
    color: lightcoral;
    font-style: bold;
}
marquee{
    animation:infinite;
    animation-duration: 200ms;
}
@media (max-width:624px) {
    body{
        width: 100vw;
    }
}
